@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(43, 124, 46);
}

li {
    float: left;
}

li:last-child {
    float: right;   
}

li a {
    background-color: rgb(43, 124, 46);
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a:hover:not(.active) {
    background-color: rgb(255, 255, 255);
    color: rgb(43, 124, 46);
}

.active {
    background-color: rgb(255, 255, 255);
    color: rgb(43, 124, 46);
}

body {
    background-color: white;
}

.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
.button1 {
    background-color: rgb(43, 124, 46);
    transition-duration: 0.5s;
    position: relative;
    left: 288px;
}

.button1:hover {
    background-color: white;
    color:rgb(43, 124, 46);
    border: 1px solid #2b7c2e;
}

.button2 {
    background-color: #b02911;
    transition-duration: 0.5s;
    position: relative;
    left: 298px;
}

.button2:hover {
    background-color: white;
    color: #b02911;
    border: 1px solid #b02911;
}

.button3 {
    background-color: rgb(43, 124, 46);
    transition-duration: 0.5s;
    position: relative;
    left: 441px;
}

.button3:hover {
    background-color: white;
    color:#2b7c2e;
    border: 1px solid #2b7c2e;
}

.button4 {
    background-color: #b02911;
    transition-duration: 0.5s;
    position: relative;
    left: 451px;
}

.button4:hover {
    background-color: white;
    color: #b02911;
    border: 1px solid #b02911;
}

td {
    background-color: rgb(10, 131, 30);
    color: white;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(10,131,30);
    color: #FFF;
    width: 100%;
    height: 70px;    
    text-align: center;
    line-height: 70px;
}

div.z {
    height: 100vh;
    width: 100vw;
}
  
div.z1 {
    background-color: rgb(255, 255, 255);
}
  
div.z2 {
   background-color: rgb(255, 255, 255);
   text-align: center;
}
  
div.z3 {
   background-color: rgb(255, 255, 255);
   text-align: center;
}



@media screen and (max-width: 568px) {
    div.z1 li {text-align: center;}
    div.z1:last-child {float: center;}
    div.z2 {margin-right: 1vw; list-style-type: square; text-align: center; width: 98vw; height: 23.8vh;}
    div.z2 h1 {font-size: 100%;}
    div.z3 img {width: 35vw; height: 20vh;}
}